<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="clientsControl.My.MySettings.ClientsControlConnectionString"
            connectionString="Data Source=MATHEUS\SQLEXPRESS;Initial Catalog=ClientsControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="clientsControl.My.MySettings.CrudConnectionString"
            connectionString="Data Source=MATHEUS\SQLEXPRESS;Initial Catalog=Crud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="clientsControl.My.MySettings.YexConnectionString"
            connectionString="Data Source=matheus\yextech;Initial Catalog=Yex;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>