<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrudAlunos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CrudAlunos.My.MySettings>
            <setting name="YexConnectionServer" serializeAs="String">
                <value />
            </setting>
            <setting name="YexConnectionDb" serializeAs="String">
                <value />
            </setting>
            <setting name="YexConnectionUser" serializeAs="String">
                <value />
            </setting>
            <setting name="YexConnectionPassword" serializeAs="String">
                <value />
            </setting>
        </CrudAlunos.My.MySettings>
    </userSettings>
</configuration>